.business_image.editorial_image {
	padding-top: 40px;
}
.editorial_head {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-top: 80px;
}
.editorial_copy {
	font-size: 24px;
	font-weight: 500;
	font-family: var(--fontNotoserifjp);
	line-height: 2;
	letter-spacing: 0.04rem;
	color: var(--colorLightBlack);
}
.editorial_description {
	font-size: 16px;
	font-weight: 400;
	font-family: var(--fontNotosansjp);
	line-height: 1.8;
	color: var(--colorLightBlack);
}
.editorial_btn_wrap {
	padding-top: 40px;
}
.editorial_btn {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}
.editorial_btn span {
	color: var(--colorLightBlack);
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	font-family: var(--fontCormorant);
}

#featureTitle {
	padding-top: 60px;
}
#feature {
	padding-bottom: 60px;
}
.feature_inner {
	padding-top: 40px;
}
.feature_list {
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.feature_item {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.feature_item_image {
	width: 100%;
}
.feature_item_text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.feature_item_title {
	font-size: 24px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 2;
	letter-spacing: 0.06rem;
	color: var(--colorLightBlack);
}
.feature_item_subtitle {
	font-size: 16px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 2;
	color: var(--colorLightBlack);
}
.feature_item_description {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	text-align: justify;
}
.works_cta_wrap {
	margin-top: 60px;
	background-color: var(--colorWhite);
	padding: 40px 0;
	width: 100%;
	border-top: 1px solid var(--colorLightBlack);
	border-bottom: 1px solid var(--colorLightBlack);
}
.works_cta_title {
	font-size: 46px;
	font-weight: 500;
	font-family: var(--fontCormorant);
	line-height: 1.5;
	color: var(--colorLightBlack);
	text-align: center;
}
.works_cta_description {
	font-size: 16px;
	font-weight: 400;
	font-family: var(--fontNotosansjp);
	line-height: 2;
	color: var(--colorLightBlack);
	text-align: center;
}
.works_cta_btn_wrap {
	padding-top: 30px;
}
.works_cta_btn {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	justify-content: center;
}
.works_cta_btn span {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	font-family: var(--fontCormorant);
	color: var(--colorLightBlack);
}

.strongPoint_inner {
	padding: 60px 0;
}
.strongPoint_title {
	margin-right: calc(50% - 50vw);
	font-size: 24px;
	font-weight: 500;
	font-family: var(--fontNotoserifjp);
	line-height: 2;
	letter-spacing: 0.04rem;
	border-bottom: 1px solid var(--colorLightBlack);
	padding-bottom: 20px;
}
.strongPoint_list {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.strongPoint_item {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.strongPoint_item_image {
	width: 100%;
}
.strongPoint_item {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.strongPoint_item_text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.strongPoint_item_head {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.strongPoint_item_title {
	font-size: 24px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 1.8;
	letter-spacing: 0.04rem;
}
.strongPoint_item_subtitle {
	font-size: 16px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 1.8;
}
.strongPoint_item_description {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	text-align: justify;
}

#flow {
	margin: 0 calc(50% - 50vw);
	max-width: none;
	padding: 0;
}
.flow_inner {
	padding: 60px 0;
}
.flow_title {
	font-size: 46px;
	font-weight: 500;
	font-family: var(--fontCormorant);
	line-height: 1.5;
	letter-spacing: 0.02rem;
	padding-left: 20px;
}
.flow_content {
	padding: 0 20px;
	overflow-x: scroll;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	position: relative;
	margin-top: 40px;
}
.flow_content::before {
	content: "";
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	width: 82%;
	height: 1px;
	background-color: var(--colorLightBlack);
}
.flow_content::before {
	width: 1000px;
	left: 120px;
	transform: translateX(0%);
}
.flow_content_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 224px;
}
.flow_image {
	margin-top: 30px;
}
.flow_num {
	width: clamp(60px, 5.55vw, 80px);
	height: clamp(60px, 5.55vw, 80px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--colorLightBlack);
	display: grid;
	place-content: center;
	font-size: 20px;
	font-weight: 400;
	color: var(--colorWhite);
	font-family: var(--fontNotosansjp);
}
.flow_description {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	text-align: justify;
	padding: 20px 10px 0 10px;
}
.flow_sample_btn_wrap {
	width: 100%;
}
.flow_sample_btn {
	margin-top: 30px;
	background-color: var(--colorWhite);
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 14px;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
}
.flow_sample_btn span {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.5;
	font-family: var(--fontCormorant);
	color: var(--colorLightBlack);
}
.flow_note_wrap {
	margin: 40px 20px 0 20px;
	padding: 20px;
	width: calc(100% - 40px);
	background-color: var(--colorWhite);
}
.flow_text {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 1.8;
	letter-spacing: 0.04rem;
}
.flow_note {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 0.04rem;
	text-align: center;
}

.faq_inner {
	padding-bottom: 60px;
}
.faq_title {
	font-size: 46px;
	font-weight: 500;
	font-family: var(--fontCormorant);
	line-height: 1.5;
	letter-spacing: 0.02rem;
}
.faq_list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-top: 40px;
}
.faq_item {
	background-color: var(--colorWhite);
	padding: 20px;
}
.summary_text {
	font-size: 18px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 1.5;
	letter-spacing: 0.04rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}
.faq_mark {
	background-color: var(--colorLightBlack);
	color: var(--colorWhite);
	font-size: 16px;
	font-weight: bold;
	font-family: var(--fontNotosansjp);
	line-height: 1.8;
	letter-spacing: 0.04rem;
	width: 26px;
	min-width: 26px;
	height: 26px;
	min-height: 26px;
	border-radius: 50%;
	display: grid;
	place-content: center;
}
.summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}
.answer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 16px;
}
.answer_mark {
	background-color: var(--colorGray);
	color: var(--colorLightBlack);
	font-size: 16px;
	font-weight: bold;
	font-family: var(--fontNotosansjp);
	line-height: 1.8;
	letter-spacing: 0.04rem;
	width: 26px;
	min-width: 26px;
	height: 26px;
	min-height: 26px;
	border-radius: 50%;
	display: grid;
	place-content: center;
}
.answer_inner {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.04rem;
	text-align: justify;
}
.answer_link {
	color: var(--colorLightBlack);
	text-decoration: underline;
}

.faq_item summary svg path.tate {
	transition: transform 0.3s;
	transform-origin: center center 0;
}
.faq_item[open] summary svg path.tate {
	transform: rotate(-90deg);
}

.contact_inner {
	padding-top: 60px;
}
.contact_title {
	font-size: 46px;
	font-weight: 500;
	font-family: var(--fontCormorant);
	line-height: 1.5;
}

.contact_list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 40px;
}

.contact_item {
	display: flex;
	flex-direction: row;
	gap: 16px;
}
.contact_item svg {
	width: 40px;
	min-width: 40px;
}
.contact_item p {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.04rem;
}
.works_cta_wrap .works_cta_icon {
	margin: auto;
	display: grid;
	place-content: center;
}
.contact_cta_description {
	font-size: 16px;
	line-height: 1.8;
	text-align: center;
	padding-top: 12px;
}

#contactForm {
	padding-bottom: 60px;
}
.contactForm_inner {
	margin: calc(50% - 50vw);
}

@media screen and (min-width: 768px) {
	.editorial_head {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		gap: 60px;
		padding-top: 100px;
	}
	.editorial_copy {
		font-size: 40px;
		display: block;
		min-width: 536px;
	}
	.editorial_description {
		line-height: 2;
	}
	.editorial_btn_wrap {
		padding-top: 30px;
	}
	.editorial_btn span {
		font-size: 22px;
	}

	#featureTitle {
		padding-top: 145px;
	}
	.feature_item {
		flex-direction: row;
		gap: min(80px, 5.555vw);
	}
	.feature_item_image {
		width: 42%;
	}
	.feature_item_text {
		width: 58%;
	}

	.strongPoint_item {
		flex-direction: row;
		justify-content: space-between;
	}
	.strongPoint_item.reverse {
		flex-direction: row-reverse;
	}
	.strongPoint_item_image {
		width: 62%;
	}
	.strongPoint_item.reverse .strongPoint_item_image {
		width: 54%;
	}
	.strongPoint_item_text {
		width: 38%;
	}
	.strongPoint_item.reverse .strongPoint_item_text {
		width: 45%;
	}

	.flow_title {
		font-size: min(100px, 6.9444vw);
		letter-spacing: 0.02rem;
		font-weight: 500;
		text-align: center;
	}
	.flow_content::before {
		transform: translateX(-50%);
		width: 82%;
		left: 50%;
	}
	.flow_content_item {
		width: auto;
	}
	.flow_text {
		margin-top: 20px;
		font-size: 20px;
		font-weight: 500;
		font-family: var(--fontNotosansjp);
		line-height: 1.8;
		letter-spacing: 0.04rem;
	}
	.flow_note_wrap {
		margin-top: 60px;
	}
	.flow_note {
		font-size: 16px;
		line-height: 2;
		letter-spacing: 0.04rem;
		text-align: center;
	}

	/* .works_cta_wrap {
		display: flex;
		flex-direction: row;
		gap: 18px;
		align-items: center;
		justify-content: center;
	}
	.works_cta_wrap .works_cta_icon {
		margin: unset;
	}
	.contact_cta_description {
		padding-top: unset;
	} */
}
