.service_content{
    margin: 140px auto 0;
    display: flex;
    flex-flow: column;
    gap: 100px;
}

.service_inner{
    display: flex;
    align-items: center;
    gap: 100px;
}

/* 共通 */
.service_inner .service_text{
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 40px;
    padding-right: 40px;
}

.service_inner .service_text h3{
    font-family: var(--fontNotosansjp);
    font-size: 30px;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.04em;
}

.service_inner .service_text p{
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}

/* 680px */
.service_inner1 .service_img{
    flex: 1.8;
}

/* 600px */
.service_inner2{
    flex-flow: row-reverse;
}

.service_inner2 .service_img,
.service_inner3 .service_img{
    flex: 1.3;
}

.service_inner2 .service_text{
    padding-right: 0;
    padding-left: 40px;
}

.service_link{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .service_content{
        margin: 60px auto 0;
        gap: 60px;
    }

    .service_inner,
    .service_inner2{
        flex-flow: column;
        gap: 30px;
    }
    
    .service_inner .service_text,
    .service_inner2 .service_text,
    .service_inner3 .service_text{
        gap: 30px;
        padding-right: 0;
        padding-left: 0;
    }

    .service_inner .service_text h3{
        font-size: 24px;
    }
}