.service_content{
    margin: 140px auto 0;
    display: flex;
    flex-flow: column;
    gap: 100px;
}

.service_inner{
    display: flex;
    align-items: center;
    gap: 100px;
}

/* 共通 */
.service_inner div:nth-of-type(1){
    flex: 1.05;
}

.service_inner div:nth-of-type(2){
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 40px;
    padding-right: 40px;
}

.service_inner div:nth-of-type(2) h3{
    font-family: var(--fontNotosansjp);
    font-size: 30px;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.04em;
}

.service_inner div:nth-of-type(2) p{
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}


@media screen and (max-width: 1024px) {
    .service_content{
        margin: 60px auto 0;
        gap: 60px;
    }

    .service_inner{
        flex-flow: column;
        gap: 30px;
    }
    
    .service_inner div:nth-of-type(2){
        gap: 30px;
        padding-right: 0;
        padding-left: 0;
    }

    .service_inner div:nth-of-type(2) h3{
        font-size: 24px;
    }
}