.service_content{
    margin: 140px auto;
    display: flex;
    flex-flow: column;
    gap: 100px;
}

.service_inner{
    display: flex;
    align-items: center;
    gap: 100px;
}

.service_inner:nth-of-type(1) div:nth-of-type(1){
    flex: 1.8;
}

.service_inner:nth-of-type(2){
    flex-flow: row-reverse;
}

.service_inner:nth-of-type(2) div:nth-of-type(1){
    flex: 1.3;
}

.service_inner div:nth-of-type(2){
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 40px;
    padding-right: 40px;
}

.service_inner div:nth-of-type(2) h3{
    font-family: var(--fontNotosansjp);
    font-size: var(--fontSize30);
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.04em;
}

.service_inner div:nth-of-type(2) p{
    font-size: var(--fontSize16);
    line-height: 1.8;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .service_inner:nth-of-type(1) div:nth-of-type(1){
        flex-flow: column;
        gap: 60px;
    }

    .service_inner div:nth-of-type(2){
        gap: 30px;
        padding-right: 0;
    }
}