.food_service_contents_wrap{
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food_service_left{
    width: 52%;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.food_service_left iframe{
    width: 100%;
}

.food_service_right{
    width: 40%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.food_service_right h3{
    font-size:var(--fontSize30);
    line-height: 1.8;
    letter-spacing: 0.04em;
}
.food_service_right p{
    font-size:var(--fontSize16);
    line-height: 1.8;
}

.food_bottom{
    margin-top: 100px;
}

/* PC/SP表示切り分け */
.pc {
    display: block;
}
.sp {
    display: none;
}

@media screen and (max-width: 1024px) {
    .food_service_right h3{
        font-size:3.2vw;
    }
    .service_btn a{
        font-size:1.55vw;
        white-space: nowrap;
    }
}

@media screen and (max-width: 983px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .food_service_contents_wrap{
        margin-top: 60px;
        flex-direction: column;
        gap: 30px;
    }
    .food_service_left{
        width: 100%;
    }
    .food_service_right{
        width: 100%;
        gap: 30px;
    }
    .food_service_right h3{
        font-size:24px;
    }
    .food_service_right p{
        font-size:16px;
    }
    .service_btn a{
        display: block;
        width: 100%;
        font-size:16px;
    }
    .food_bottom{
        margin-top: 60px;
    }
    .service_btn a::before{
        right:18px;
    }
    .service_btn a::after{
        right:20px;
    }
    .first_section{
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }
}