/**
 * #contactForm
 */
.contactForm_inner {
	background-color: #f2f2f2;
	padding: 120px min(200px, 13.888vw);
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: auto;
}
.form_item_inner {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.form_item.column_2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.form_item_label {
	font-size: 16px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 1.7;
}
.form_item_label::after {
	content: "必須";
	color: var(--colorWhite);
	background-color: #ff7072;
	padding: 2px 4px;
	border-radius: 4px;
	font-size: 10px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 1.7;
	margin-left: 7px;
}
.form_radio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}
.form_radio label {
	font-size: 16px;
	font-weight: 400;
	font-family: var(--fontNotosansjp);
	line-height: 1.7;
	color: var(--colorLightBlack);
}
.form_input {
	width: 100%;
	border: none;
	padding: 12px 20px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
.form_input::placeholder {
	color: #bbbbbb;
}
input[type="checkbox"] {
	position: relative;
	width: 18px;
	height: 18px;
	border: 1px solid #333;
	background-color: #fff;
	vertical-align: -5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	margin-top: 1px;
	border-radius: 4px;
}
input[type="checkbox"]:checked {
	background-color: #333333;
	border: none;
}
input[type="checkbox"]:checked:before {
	position: absolute;
	top: 2px;
	left: 6px;
	transform: rotate(45deg);
	width: 5px;
	height: 8px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: "";
}
.form_checkbox_text {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.7;
	color: var(--colorLightBlack);
	font-family: var(--fontNotosansjp);
}
.form_checkbox_note {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.7;
	color: var(--colorLightBlack);
	font-family: var(--fontNotosansjp);
}
.form_checkbox_note a {
	text-decoration: underline;
	color: var(--colorLightBlack);
}
.submit_btn_wrap {
	margin: auto;
	padding-top: 30px;
}
.submit_btn {
	background-color: var(--colorLightBlack);
	padding: 18px 20px;
	width: 300px;
	border-radius: 6px;
	color: var(--colorWhite);
	font-size: 16px;
	letter-spacing: 0.06rem;
	line-height: 1.5;
}

@media screen and (max-width: 767px) {
	.contactForm_inner {
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin: auto;
	}
	.form_item.column_2 {
		grid-template-columns: 1fr;
	}
	.form_radio {
		flex-direction: column;
	}
}

/**
 * #contactFlow
 */
#contactFlow {
	background-color: #f2f2f2;
	margin: 0 calc(50% - 50vw);
	max-width: none;
	padding: 0;
}
.contactFlow_inner {
	display: grid;
	place-content: center;
	padding: min(140px, 9.7222vw) 0;
}
.contactFlow_title {
	font-size: min(100px, 6.9444vw);
	letter-spacing: 0.02rem;
	font-weight: 500;
	text-align: center;
}
.contactFlow_content {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	position: relative;
}
.contactFlow_content::before {
	content: "";
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	width: 82%;
	height: 1px;
	background-color: var(--colorLightBlack);
}
.contactFlow_content_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
}
.contactFlow_num {
	width: clamp(60px, 5.55vw, 80px);
	height: clamp(60px, 5.55vw, 80px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--colorLightBlack);
	display: grid;
	place-content: center;
	font-size: 20px;
	font-weight: 400;
	color: var(--colorWhite);
	font-family: var(--fontNotosansjp);
}
.contactFlow_image {
	margin-top: 30px;
}
.contactFlow_text {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 500;
	font-family: var(--fontNotosansjp);
	line-height: 1.8;
	letter-spacing: 0.04rem;
}
.contactFlow_note_wrap {
	margin-top: 60px;
	background-color: var(--colorWhite);
	width: 100%;
}
.contactFlow_note {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 0.04rem;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.contactFlow_title {
		font-size: 46px;
		text-align: left;
		padding-left: 20px;
	}
	.contactFlow_content {
		overflow-x: scroll;
	}
	.contactFlow_content::before {
		width: 1000px;
		left: 120px;
		transform: translateX(0%);
	}
	.contactFlow_content_item {
		width: 224px;
	}
	.contactFlow_note_wrap {
		margin: 40px 20px 0 20px;
		padding: 20px;
		width: calc(100% - 40px);
	}
}

.footer {
	margin-top: 0;
}
