@charset "utf-8";
/* -------------------------
common
----------------------------*/
html,
body {
	scroll-behavior: smooth;
}
html {
	scroll-padding-top: 73px;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--colorLightBlack);
	font-family: var(--fontCormorant);
	overflow-x: hidden;
}

.mainContent {
	overflow-x: hidden;
}

a {
	color: var(--colorWhite);
	text-decoration: none;
}

.for-pc {
	display: block;
}
.pc-more {
	display: block;
}

.pc {
	display: inline-block;
}

.sp {
	display: none;
}

.is-pc {
	display: block !important;
}

summary {
	display: block;
	list-style: none;
	cursor: pointer;
}

/* 一部ブラウザで消えなかった場合は以下も追記 */
summary::-webkit-details-marker {
	display: none;
}

@media screen and (max-width: 1260px) {
	html {
		scroll-padding-top: 66px;
	}
	.container {
		padding: 0 30px;
	}
}

@media screen and (max-width: 1024px) {
	.pc-more {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.container {
		padding: 0 20px;
		width: auto;
	}

	.for-pc {
		display: none;
	}

	.pc {
		display: none;
	}

	.sp {
		display: block;
	}

	.is-pc {
		display: none !important;
	}
}

/* -------------------------
loaging
----------------------------*/
/* ローディング画面のスタイル */
#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	flex-direction: column;
	transition: transform 1.2s cubic-bezier(1, 0, 0.06, 0.98);
}
#content {
	display: none;
}
.progress-bar-container {
	width: 30%;
	background-color: #f3f3f3;
	border-radius: 25px;
	margin-top: 10px;
}
.progress-bar {
	width: 0;
	height: 3px;
	background-color: #333;
	border-radius: 3px;
	text-align: center;
	line-height: 3px;
	color: white;
}
.slide-up {
	transform: translateY(-100%);
	opacity: 1;
}

.loading__inner {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -10px;
	text-align: center;
	font-weight: bold;
}
.loading__inner span {
	display: block;
	background: #000;
	width: 100px;
	height: 2px;
	margin-top: 2px;
	animation: load 2s infinite;
	border-radius: 2px;
}

.loading__inner span:nth-child(2) {
	animation-delay: 100ms;
}
.loading__inner span:nth-child(3) {
	animation-delay: 200ms;
	margin-bottom: 20px;
}

@keyframes load {
	50% {
		width: 5px;
		margin-right: 95px;
		opacity: 0.1;
	}
}

/* -------------------------
header
----------------------------*/
.header__outer {
	position: fixed;
	z-index: 200;
	width: 100%;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 40px 40px 0;
	transition: all 0.3s;
}

.header__inner.fixType {
	padding: 20px 40px;
	background: #fff;
}

.header__logo {
	width: 130px;
	position: relative;
}

.header__logo a {
	position: absolute;
	top: 0;
	left: 0;
}

.header__logo a img {
	width: 130px;
	transition: all 0.3s;
}

.header__inner.fixType .header__logo a img {
	width: 70px;
}

.headerList {
	display: flex;
	font-weight: bold;
	gap: 40px;
	line-height: 2.05;
}

@keyframes scrolldown {
	0% {
		bottom: 100px;
		height: 0;
		opacity: 0;
	}

	30% {
		bottom: -60px;
		height: 100px;
		opacity: 1;
	}

	100% {
		bottom: -120px;
		height: 0;
		opacity: 0;
	}
}

.headerMenu {
	display: none;
}

.headerList__item {
	position: relative;
}

.headerList__item .dropdown-menu {
	display: none;
}

.headerList__item:hover .dropdown-menu {
	position: absolute;
	display: block;
	z-index: 9999;
	webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	top: 100%;
}

.headerList__item .dropdown-menu__item {
	text-wrap: nowrap;
}

.headerList__item .dropdown-menu__item a {
	font-size: 14px;
	font-family: var(--fontNotosansjp);
	letter-spacing: 0.04rem;
}

@media screen and (max-width: 1080px) {
	.headerList {
		display: none;
	}

	.headerMenu {
		display: grid;
		gap: 10px;
	}

	.headerMenu span {
		border-top: 2px solid var(--colorWhite);
		display: block;
		width: 30px;
		transition: all 0.3s;
	}

	.headerMenu.black span {
		border-top: 2px solid #333333;
	}

	.header__inner {
		align-items: flex-start;
		padding: 26px 20px 0;
	}

	.header__inner.fixType {
		padding: 20px 20px;
		background: #fff;
	}

	.header__logo {
		width: 75px;
	}
	.header__logo a img {
		width: 75px;
	}

	.header__inner.fixType .header__logo a img {
		width: 60px;
	}
}

.headerList__item a {
	position: relative;
	transition: all 0.3s;
}

.headerList__item a::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--colorWhite);
	transition: all 0.3s;
	transform: scale(0, 1);
	transform-origin: center top;
}

.headerList__item.current a::after,
.headerList__item a:hover::after {
	transform: scale(1, 1);
}

.headerList__item.black a {
	color: #333333;
}
.headerList__item.black a::after {
	background: #333333;
}
.headerList__item.black .toggle-icon {
	color: #333;
}

.headerList__item.black:hover .dropdown-menu {
	background: #fff;
	padding: 20px;
	margin-left: -20px;
}

.toggle-icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	line-height: 1;
	width: 8px;
	height: 8px;
	border: 0.1em solid currentColor;
	border-left: 0;
	border-bottom: 0;
	box-sizing: border-box;
	transform: translateX(50%) translateY(-50%) rotate(135deg);
	transition: all 0.3s;
}
.toggle-icon__wrap.absolute-elem {
	position: absolute;
	top: 2px;
	right: 0;
	padding: 10px;
	z-index: 1000;
}
.toggle-icon.open {
	transform: translateX(50%) translateY(20%) rotate(-45deg);
}
.toggle-icon.black {
	color: #333;
}

/* -------------------------
footer
----------------------------*/
.footer {
	background-color: var(--colorLightBlack);
	color: var(--colorWhite);
	margin-top: 140px;
	padding: 100px 0;
}

.contact__inner {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.contact__title {
	font-size: 9.5vw;
	font-weight: 600;
	letter-spacing: 0.02em;
}

.contact__more {
	align-items: center;
	display: flex;
	gap: 15px;
	margin-bottom: 1.33vw;
}

.contact__more--text {
	font-size: 22px;
}

.contact__more--btn {
	background-color: var(--colorWhite);
	border: 1px solid var(--colorWhite);
	border-radius: 50%;
	height: 50px;
	position: relative;
	transition: 0.3s;
	width: 50px;
}

.contact__more--btn::before {
	border-top: 1px solid var(--colorLightBlack);
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.3s;
	width: 33px;
}

.contact__more--btn::after {
	border-left: 1px solid var(--colorLightBlack);
	content: "";
	height: 10px;
	left: 30px;
	position: absolute;
	top: 44%;
	transform: translateY(-50%) rotate(-50deg);
	transition: 0.3s;
	width: 1px;
}

.contact__more--btn:hover {
	background-color: var(--colorLightBlack);
	transition: 0.3s;
}

.contact__more--btn:hover::before {
	border-top: 1px solid var(--colorWhite);
	transition: 0.3s;
}

.contact__more--btn:hover::after {
	border-left: 1px solid var(--colorWhite);
	transition: 0.3s;
}

.contact__imgBox {
	margin-right: calc(50% - 50vw);
}

.contact__office--wrap {
	align-items: center;
	display: flex;
	gap: 15%;
	margin-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.contact__office--wrap::after,
.contents::after {
	border-bottom: 1px solid var(--colorWhite);
	bottom: 0;
	content: "";
	left: 0;
	margin-right: calc(50% - 50vw);
	position: absolute;
	width: 100vw;
}

.contact__office--imgBox {
	max-width: 415px;
	width: 100%;
}

.contact__office--inner {
	font-family: var(--fontNotosansjp);
	max-width: 510px;
	width: 100%;
}

.contact__office--name {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.67;
}

.contact__office--info {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	margin-top: 5px;
}

.contents {
	margin-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.contents__wrap {
	display: flex;
	gap: 180px;
}

.contents__title {
	font-size: var(--fontSize70);
	font-weight: 600;
	letter-spacing: 0.02em;
	writing-mode: vertical-lr;
}

.contents__item--title {
	font-size: var(--fontSize40);
	font-weight: 600;
	letter-spacing: 0.02em;
	line-height: 1.25;
}

.contents__inner {
	display: grid;
	gap: 100px;
	grid-template-columns: repeat(3, 1fr);
}

.contents__item--inside {
	font-family: var(--fontNotosansjp);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.88;
}

.contents__link {
	display: block;
	margin-top: 20px;
}

.contents__link:not(:first-of-type) {
	margin-top: 10px;
}

.is-mt20 {
	margin-top: 20px;
}

.backTop__link {
	bottom: 80px;
	content: "";
	height: 130px;
	position: absolute;
	right: -2vw;
	width: 25px;
	writing-mode: vertical-rl;
}

.backTop__link::after {
	background-image: url(../img/footer/img-back_arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 150px;
	content: "";
	height: 80px;
	position: absolute;
	right: 10px;
	width: 10px;
}

.backTop__text {
	font-size: var(--fontSize20);
	font-weight: bold;
	line-height: 2;
	transition: all 0.3s;
}
.backTop__text:hover {
	opacity: 0.7;
}

.footer__bottom {
	margin-top: 80px;
}

.footer__bottom--wrap {
	align-items: center;
	display: flex;
	font-family: var(--fontNotosansjp);
	gap: 60px;
	justify-content: space-between;
	margin-right: calc(50% - 50vw);
}

.footer__other {
	display: flex;
	gap: 60px;
}

.footer__other--item {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.88;
}

.footer__other--item a:hover {
	opacity: 0.6;
	transition: 0.4s;
}

.footer .contents__itemBox .contents__item--inside:hover {
	opacity: 0.6;
	transition: 0.4s;
}

.copyRight {
	font-size: 14px;
	font-weight: 400;
	line-height: 2.14;
	margin-right: 30px;
}

@media screen and (min-width: 1500px) {
	.contact__title {
		font-size: 142px;
	}

	.contact__more {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1100px) {
	.footer__other {
		gap: 40px;
	}

	.copyRight {
		margin-right: 5px;
	}
}

@media screen and (max-width: 1000px) {
	.contents__wrap {
		gap: 90px;
	}

	.contents__inner {
		gap: 80px;
	}

	.footer__bottom--wrap {
		align-items: flex-start;
		flex-direction: column;
		gap: 24px;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		margin-top: 60px;
		padding: 60px 0;
	}

	.contact__inner {
		display: block;
	}

	.contact__title {
		font-size: 64px;
	}

	.contact__more {
		justify-content: end;
		margin-bottom: 0;
		margin-top: 20px;
	}

	.contact__more--text {
		font-size: 16px;
	}

	.contact__more--btn {
		height: 32px;
		width: 32px;
	}

	.contact__more--btn::before {
		width: 29px;
	}

	.contact__more--btn::after {
		height: 8px;
		left: 25px;
		top: 40%;
	}

	.contact__imgBox {
		margin-top: 25px;
	}

	.contact__office--wrap {
		align-items: start;
		flex-direction: column;
		gap: 30px;
		margin-top: 40px;
		padding-bottom: 50px;
	}

	.contact__office--imgBox {
		max-width: 250px;
	}

	.contact__office--info {
		margin-top: 15px;
	}

	.contents {
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.contents__wrap {
		flex-direction: column;
		gap: 30px;
	}

	.contents__title {
		font-size: 46px;
		writing-mode: unset;
	}

	.contents__item--title {
		font-size: 30px;
	}

	.contents__inner {
		gap: 20px;
		grid-template-columns: 1fr;
	}

	.contents__link {
		margin-top: 10px;
	}

	.backTop__link {
		bottom: -220px;
		height: 120px;
		width: 20px;
	}

	.backTop__link::after {
		bottom: 130px;
		height: 40px;
		right: 11px;
	}

	.backTop__text {
		font-size: 18px;
	}

	.footer__bottom {
		margin-top: 40px;
	}

	.footer__bottom--wrap {
		align-items: flex-start;
		flex-direction: column;
		gap: 80px;
		justify-content: flex-start;
		margin-right: unset;
	}

	.footer__other {
		flex-direction: column;
		gap: 20px;
	}

	.copyRight {
		margin-right: unset;
	}
}

@media screen and (max-width: 767px) {
	.is-icon {
		position: relative;
	}

	.is-icon::after {
		background-image: url(../img/footer/icon-plus.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		height: 20px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s;
		width: 20px;
	}

	.is-icon.open::after {
		background-image: url(../img/footer/icon-minus.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		height: 20px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s;
		width: 20px;
	}

	.contents__itemBox {
		display: none;
	}
}

/* swiper */
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	left: 0;
	right: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0;
	right: 0;
}

.swiper-button-next,
.swiper-button-prev {
	align-items: center;
	color: unset;
	cursor: pointer;
	display: block;
	height: unset;
	justify-content: center;
	margin-top: 0;
	position: absolute;
	top: 0;
	width: unset;
	z-index: 10;
}

/* -------------------------
bogo language switcher
----------------------------*/
.language_switch_wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 64px;
}
.language_switch {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	background-color: #333;
	border-radius: 6px;
	padding: 10px 24px;
}
.language_switch_text {
	color: var(--colorWhite);
	font-family: var(--fontNotosansjp);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.7;
}
.bogo-language-switcher {
	background-color: #333;
	border-radius: 6px;
}
.bogo-language-switcher li {
	position: relative;
}
.bogo-language-switcher li:last-child {
	display: none;
}
.bogo-language-switcher li a {
	padding: 10px 24px;
	display: block;
}
.bogo-language-switcher li a::before {
	content: url(../img/earth.svg);
	margin-right: 6px;
}


/* -------------------------
business page
----------------------------*/

.service_description{
	margin: 60px 0 100px;
}

.service_description p{
	font-weight: 400;
	font-size: var(--fontSize20);
	text-align: justify;
	line-height: 2;
}

.company_image {
    position: relative;
    margin-right: calc(50% - 50vw);
	margin-bottom: 140px;
}

@media screen and (max-width: 767px) {
	.service_description{
		margin: 80px 0 60px;
	}

	.service_description p{
		line-height: 1.8;
	}

	.company_image {
		margin-bottom: 60px;
	}
}