.achievement_head {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding-bottom: 100px;
}
.achievement_title {
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: baseline;
}
.achievement_title_main {
	font-family: var(--fontCormorant);
	font-size: var(--fontSize100);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02rem;
}
.achievement_title_sub {
	font-family: var(--fontNotosansjp);
	font-size: var(--fontSize16);
	font-weight: 500;
	line-height: 1.8;
}
.achievement_description {
	align-self: flex-end;
	padding-right: 40px;
	width: 64%;
}
.achievement_description_text {
	font-family: var(--fontNotosansjp);
	font-size: var(--fontSize16);
	font-weight: 400;
	line-height: 2;
	text-align: justify;
}
.achievement_list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 40px;
	row-gap: 60px;
}
.achievement_item {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.achievement_item_text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.achievement_item_title {
	font-family: var(--fontNotosansjp);
	font-size: var(--fontSize16);
	font-weight: 500;
	line-height: 1.8;
	letter-spacing: 0.04rem;
}
