@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
:root {
	/* font-family 
    ------------------------------------------------------------------------*/
	--fontCormorant: "Cormorant Garamond", serif;
	--fontNotosansjp: "Noto Sans JP", sans-serif;
	--fontRoboto: "Roboto", sans-serif;
	--fontNotoserifjp: "Noto Serif JP", serif;

	/* font-size clamp : https://min-max-calculator.9elements.com/ 
    ------------------------------------------------------------------------*/

	--fontSize16: clamp(0.875rem, 0.744rem + 0.27vw, 1rem);
	--fontSize18: clamp(1.125rem, 0.886rem + 1.02vw, 1.375rem);
	--fontSize20: clamp(1rem, 0.741rem + 0.54vw, 1.25rem);
	--fontSize22: clamp(1.125rem, 0.866rem + 0.54vw, 1.375rem);
	--fontSize28: clamp(1.75rem, 1.63rem + 0.51vw, 1.875rem);
	--fontSize30: clamp(1.875rem, 1.576rem + 1.28vw, 2.188rem);
	--fontSize35: clamp(1.875rem, 1.319rem + 1.16vw, 2.188rem);
	--fontSize40: clamp(1.875rem, 1.219rem + 1.37vw, 2.5rem);
	--fontSize45: clamp(2.5rem, 1.944rem + 1.16vw, 2.813rem);
	--fontSize46: clamp(2.875rem, 2.636rem + 1.02vw, 3.125rem);
	--fontSize60: clamp(3.125rem, 2.469rem + 1.37vw, 3.75rem);
	--fontSize64: clamp(4rem, 3.641rem + 1.53vw, 4.375rem);
	--fontSize70: clamp(3.75rem, 3.094rem + 1.37vw, 4.375rem);
	--fontSize80: clamp(4.75rem, 4.491rem + 0.54vw, 5rem);
	--fontSize90: clamp(5.375rem, 5.116rem + 0.54vw, 5.625rem);
	--fontSize100: clamp(5.625rem, 4.978rem + 1.35vw, 6.25rem);
	--fontSize140: clamp(8.125rem, 7.478rem + 1.35vw, 8.75rem);

	/* color 
    ------------------------------------------------------------------------*/
	--colorWhite: #fff;
	--colorLightBlack: #333;
	--colorGray: #f2f2f2;
}
